<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MovieApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <select class="form-select" (change)="onCategoryChange($event)">
        <option value="popular">Popular</option>
        <option value="now_playing">Now Playing</option>
        <option value="top_rated">Top Rated</option>
        <option value="upcoming">Upcoming</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-select" (change)="onGenreChange($event)">
        <option value="">Select Genre</option>
        <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
      </select>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="Search movies..." [(ngModel)]="searchQuery" (keyup)="searchMovies()">
    </div>
  </div>
</div>

<div class="container mt-4">
  <!-- Pagination Controls -->
  <div class="d-flex justify-content-between mt-4">
    <button class="btn btn-info" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
    <button class="btn btn-info" (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>    
  </div>
  <div class="row" *ngIf="movies.length; else noMoviesTemplate">
    <div class="col-md-3" *ngFor="let movie of paginatedMovies">
      <!-- Movie card -->
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview | slice:0:100 }}...</p>
          <a class="btn btn-primary" (click)="open(movieDetailModal, movie.id)">More Details</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noMoviesTemplate>
    <div class="alert alert-info" role="alert">
      No movies found.
    </div>
  </ng-template>
</div>
<button (click)="resetFilter()">Show All Genres</button>

<div style="width: 600px; height: 600px;">
  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels" [responsive]="chartOptions.responsive" [title]="chartOptions.title"></apx-chart>
</div>
<!-- Other UI elements above -->



<!-- Movie Detail Modal Template -->
<ng-template #movieDetailModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ selectedMovie.title }}</h5>
  </div>
  <div class="modal-body">
    <p>{{ selectedMovie.overview }}</p>
    <!-- Trailer -->
    <div *ngIf="trailerUrl">
      <h5>Trailer</h5>
      <iframe [src]="trailerUrl | safeUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- Display other movie details like genres, cast, etc. here -->
    <p><strong>Genres:</strong> {{ movieGenres }}</p>
    <div>
      <strong>Cast:</strong>
      <ul class="list-unstyled d-flex flex-wrap">
        <li *ngFor="let actor of movieCast" class="me-2 mb-2">
          <div class="card" style="width: 100px;">
            <img [src]="'https://image.tmdb.org/t/p/w200' + actor.profile_path" class="card-img-top" [alt]="actor.name" onerror="this.src='https://via.placeholder.com/100x150?text=No+Image';">
            <div class="card-body p-1">
              <p class="card-text">{{ actor.name }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <strong>Related Movies:</strong>
      <div class="d-flex flex-wrap">
        <div *ngFor="let movie of relatedMovies" class="me-2 mb-2">
          <div class="card" style="width: 150px;">
            <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" class="card-img-top" [alt]="movie.title" onerror="this.src='https://via.placeholder.com/150x225?text=No+Image';">
            <div class="card-body p-1">
              <p class="card-text">{{ movie.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


